button {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: olivedrab;
    border: solid 2px black;
    font-family: inherit;
}

.default-btn,.hover-btn {
    background-color: olivedrab;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
}

.hover-btn {
    position: absolute;
    inset: 0;
    background-color: olive;
    transform: translate(0%,100%);
}

.default-btn span {
    color: black;
}

.hover-btn span {
    color: black;
}

button:hover .default-btn {
    transform: translate(0%,-100%);
}

button:hover .hover-btn {
    transform: translate(0%,0%);
}